/*Overlay*/
#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}

Body:hover{
    cursor: default;
}

body{
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
}

nav{
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

H1{
	color: red;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
}

H4{
    font-family: 'Amiri', serif;
}

img{
    max-height: 200px;
    max-width: 300px;
}

img:hover{
    transform: scale(1.5,1.5);
    cursor: zoom-in;
}

/*a{
    color: white;
    text-decoration: none;
}*/

footer{ 
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: url(img/Grass.jpg);
    background-position: left;
    background-size: cover;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: yellow;
}


td{
	text-align: center;
    font-family: ;
}

td.O{
	color: #ffffff;
	background-color: #e60000;
}

td.M{
	color: #ffffff;
	background-color:  #0000ff;
}



ul {
    list-style-type: none;
    background-image: url(img/Grass.jpg);
    background-position: left;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul li {
    float: left;
    display: inline-block;
}
ul li a {
    text-align: center;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}
ul li a:hover {
    background-color: yellow;
    opacity: .6;
    color: black;
}
ul li a.active{
    background-color: gray;
}

dl a:hover{
    color: blue;
}

dl a:hover{
    color: red;
}

#container{
    height: 100%;
}

.nav{
    width: 35%;
}

.background1{
    background-image: url(img/Concrete.jpg);
    background-position: center;
    background-size: cover;
}

.background2{
    background-image: url(img/MichField.jpg);
    background-position: center;
    background-size: cover;
}

.background3{
    background-image: url(img/PenTexture.jpg);
    background-position: center;
    background-size: cover;
}



.header{
    align-content: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 400px;
    height: 120px;
    background-image:url(img/FootballField.jpg);
    background-position: left;
    background-size: cover;
}

.frame{
    /*
    background-image: url(img/Slate.jpg);
    background-position: center;
    background-size: cover;
    */
    background-image: linear-gradient(blue, black, red);
    width: 400px;
    color: white;
    margin: 0 auto;
}

.frame a{
    color: white;
}

.frame dl{
    margin-left: 30px;
}

.mainBody{
    margin: 0 auto;
    max-width: 700px;
}

/*Possible Fonts
	H4: 
*/
